{% extends 'base/base.html' %}
{% load static %}

{% block header %}{% endblock %}

{% block nav %}
{% include 'base/nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

        <!-- Nav -->
        <div class="col-3">
            {% comment %}
            <div class="container mt-5 border bg-warning text-dark rounded">
                {% for category in categories %}
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">{{ category.name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endcomment %}
        </div>

        <!-- Center -->
        <div class="col-6">
            {% if categories %}
                {% for category in categories %}
                <div class="card card-collapsable mb-3">
                    <a class="card-header" href="#collapseCardExample{{ category.id }}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        {{ category.name }}
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </a>
                    <div class="collapse show" id="collapseCardExample{{ category.id }}">
                        <div class="card-body">
                            <div class="container mt-3 pl-4">
                                <h3>{{ category.name }}</h3>
                            </div>
                                <ul class='list-unstyled'>
                                {% for product in category.products.all %}
                                    {% if not product.is_deleted %}
                                        <li class="container border border-info rounded mb-2">
                                            <div class="row mt-1">
                                                <div class="col-4">
                                                    <h4>{{ product.name }}</h4>
                                                </div>
                                                <div class="col-3"></div>
                                                <div class="col-4">
                                                    <p class="text-right pt-2">{{ product.price }} €</p>
                                                </div>
                                                <div class="col-1">
                                                    <a class="btn btn-warning" href="{% url 'cart:add' product.id %}">+</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>{{ product.description }}</p>
                                                </div>
                                                <div class="col-6"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    {% if product.allergens %}
                                                    <small>Allergens: {{ product.allergens }}</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="container">
                    <div class="alert alert-green text-center">
                        <h2>No hay productos aún en este restaurante.</h2>
                    </div>
                </div>
            {% endif %}
        </div>
        
        <!-- Cart -->
        {% if cart.items %}
        <div class="col-2">
            <div class="container  border bg-light text-dark rounded">
                <div class="row">
                    <div class="col-4">
                        <p>Pedido</p>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 text-right">
                        <a href="{% url 'cart:list' %}" class="btn btn-primary">Pagar</a>
                    </div>
                </div>

                <!-- Delete button -->
                <div class="row">
                    <div class="col-12 text-right">
                        <div class="row">
                            <div class="col-4 border-top border-bottom mb-3">Nombre</div>
                            <div class="col-2 border-top border-bottom mb-3">Cant.</div>
                            <div class="col-4 border-top border-bottom mb-3">Precio</div>
                            <div class="col-1 border-top border-bottom mb-3"></div>
                        </div>
                        <div class="row">
                            {% for item in products_in_cart %}
                            <div class="col-4 border-bottom mb-2">
                                {{ item.product.name }}
                            </div>
                            <div class="col-2 border-bottom mb-2">
                                {{ item.quantity }}
                            </div>
                            <div class="col-4 border-bottom mb-2">
                                {{ item.total }} €
                            </div>
                            <div class="col-1 border-bottom mb-2">
                                <a href="{% url 'cart:delete' item.product.id company.id %}" class="btn btn-danger btn-sm">-</a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col text-left">Total</div>
                            <div class="col text-right">
                                {{ cart.total }} €
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'cart:clear' company.id %}" class="btn btn-danger">Eliminar todo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}