{% extends 'base/base.html' %}
{% load static %}

{% block header %}{% endblock %}

{% block nav %}
{% include 'base/nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

        <!-- Nav -->
        <div class="col-3">
            <div class="container mt-5 border">
                {% for category in categories %}
                <div class="row">
                    <div class="col-6">
                        {{ category.name }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Center -->
        <div class="col-6">
            <div class="container border border-light">
                {% for category in categories %}
                <div class="container mt-3 pl-4">
                    <h3>{{ category.name }}</h3>
                </div>
                    <ul>
                    {% for product in category.products.all %}
                    <div class="container border border-info mb-2">
                        <div class="row mt-1">
                            <div class="col-4">
                                <h4>{{ product.name }}</h4>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-4">
                                <p class="text-right pt-2">{{ product.price }} €</p>
                            </div>
                            <div class="col-1">
                                <a class="btn btn-warning" href="{% url 'company:cart:add' company.id product.id %}">+</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="col-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {% if product.allergens %}
                                <small>Allergens: {{ product.allergens }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!-- Cart -->
        <div class="col-3">
            <div class="container mt-5 border">
                Carrito

            </div>
        </div>

    </div>
</div>
{% endblock %}