{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% for company in companies %}
    <section id="" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-12 mb-4 border-0">
                    <div class="card">
                        <!-- Restaurant image -->
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="badges">
                                <span class="badge badge-warning"></span>
                                <span class="badge badge-info"></span>
                            </div>
                            <div class="float-left mr-2">
                                <img src="{% static company.logo %}" alt="">
                            </div>
                            <a href="{% url 'company:detail' company.id %}"><h5 class="card-title">{{ company.name }}</h5></a>
                            <p class="card-text">Lorem ipsum dolor sit amet, 
                                consectetur adipisicing elit. Sapiente delectus
                                 repellendus ipsum quisquam, magni aut dolore 
                                 repudiandae voluptatum vitae praesentium enim, 
                                 natus libero. Ut alias, ratione repellendus libero, vero rem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}
{% endblock %}
    
{% block footer %}
{% include 'base/footer.html' %}
{% endblock %}
