<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
          <div class="col-12 col-lg border-0">
              <a href="#">Preguntas frecuentes</a>
          </div>
          <div class="col-12 col-lg border-0">
              <a href="#">Contáctanos</a>
          </div>
          <div class="col-12 col-lg border-0">
              <a href="#">Términos y condiciones</a>
          </div>
          <div class="col-12 col-lg border-0">
              <a href="#">Privacidad</a>
          </div>
          <div class="col-12 col-lg border-0">
            <a href="{% url 'restaurant:register' %}">Restaurante: Únete</a>
        </div>
        </div>
    </div>
</footer>