[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
cffi = "==1.14.3"
click = "==7.1.2"
cryptography = "==3.2.1"
Django = "==3.1"
django-address = "==0.2.5"
django-cors-headers = "==3.5.0"
gunicorn = "==20.0.4"
h11 = "==0.9.0"
httptools = "==0.1.1"
Pillow = "==7.2.0"
psycopg2-binary = "==2.8.5"
pycparser = "==2.20"
pyOpenSSL = "==19.1.0"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
uvicorn = "==0.11.8"
uvloop = "==0.14.0"
websockets = "==8.1"

[dev-packages]

# [requires]
# python_version = "3.8"
